{% block topbar %}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ path('index') }}">Balloon GitHub Issues</a>
          {% if app['user'] is defined and app['user'] != null %}
              <p class="pull-right">
                  {{ 'logged_as' | trans }} {{ app['user'] }} <a href="{{ path('logout') }}">{{ 'logout' | trans }}</a>
              </p>
          {% else %}
              <form action="{{ path('login') }}" method="POST" class="pull-right">
                <input class="input-small" type="text" name="username" placeholder="Username">
                <input class="input-small" type="password" name="password" placeholder="Password">
                <button class="btn" type="submit">{{ 'login' | trans }}</button>
              </form>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}