{% extends "layout_expanded.html.twig" %}

{% block header %}
    <h1>
        <ul id="change-repo" class="unstyled inline">
            <li class="dropdown" data-dropdown="dropdown">
                <a href="#" class="btn small dropdown-toggle">Issues for: {{ app.repo['user'] | capitalize }}/{{ app.repo['repo'] | capitalize }}</a>
                <ul class="dropdown-menu">
                    {% for repo in app.config.repositories %}
                        <li>
                            <a href="change/{{ repo['user'] }}/{{ repo['repo'] }}">
                                {{ repo['user'] | capitalize }}/{{ repo['repo'] | capitalize }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <a href="issue/add" class="btn primary float-right">Add new issue</a>
    </h1>
{% endblock %}

{% block content %}
    <table id="issuesList" class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Ticket</th>
                <th>Créé par</th>

                <th>Labels</th>
                <th>Milestone</th>

                <th>En charge</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr data-controls-modal="modal_{{ issue.number }}" data-backdrop="static" style="cursor: pointer;">
                <td>#{{ issue.number }}</td>
                <td>
                    {{ issue.title }}
                </td>
                <td>{{ issue.user.login }}</td>

                <td>
                    {% for label in issue.labels %}
                        <span class="label" style="background: #{{ label.color }};color: #484848;">{{ label.name }}</span><br/>
                    {% else %}
                        ~
                    {% endfor %}
                </td>
                <td>{% if issue.milestone.title is defined %}{{ issue.milestone.title }}{% else %}~{% endif %}</td>

                <td>{{ issue.assignee.login }}</td>
            </tr>
            <div id="modal_{{ issue.number }}" class="modal hide fade">
                <div class="modal-header">
                  <a href="#" class="close">×</a>
                  <h3>{{ issue.title }}</h3>
                </div>
                <div class="modal-body">
                  <p>{{ issue.body }}</p>
                </div>
                <div class="modal-footer">
                  <small>Appuyer sur Echap pour fermer</small>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="6">
                    <h2>No issues here</h2>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.js"></script>
    <script>
        $(document).ready(function(){
            $("table#issuesList").tablesorter({ sortList: [[0,0]] });
            $('.dropdown-toggle').dropdown();
            $('.modal').modal({
                keyboard: true,
                backdrop: true,
            });
        });
    </script>
{% endblock %}