{% extends "layout_expanded.html.twig" %}

{% block header %}
    {{ parent() }}
    <a href="{{ path('index') }}" class="btn danger float-right">{{ 'back' | trans }}</a>
{% endblock %}

{% block content %}
    <form id="addIssue" action="add" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="actions">
            <input type="submit" name="login" class="btn primary" value="{{ 'send' | trans }}">
        </div>
    </form>
{% endblock %}