{% extends "layout_expanded.html.twig" %}

{% block header %}
    {{ parent() }}
        {% if bookmarklet is not defined %}
            <a href="{{ path('index') }}" class="btn danger float-right">{{ 'back' | trans }}</a>
        {% endif %}
{% endblock %}

{% block content %}
    <form id="addIssue" action="add" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="actions">
            <input type="submit" name="login" class="btn primary" value="{{ 'send' | trans }}">
        </div>
        {% if bookmarklet is defined %}
            <input type="hidden" name="bookmarklet" value="true"/>
        {% endif %}
    </form>
{% endblock %}
