<div class="topbar">
    <div class="fill">
        <div class="container">
            <a href="#">
                {{ "github_issues" | trans }}
            </a>
        </div>
    </div>
</div>

<div class="row login-message">
    {{ "please_login" | trans }}
</div>

<form class="login-form" action="{{ url('login') }}" method="POST">
    <div class="row">
        <input class="input bookmarklet-input" type="text" name="username" placeholder="{{ 'username' | trans }}">
    </div>
    <br/>
    <div class="row">
        <input class="input bookmarklet-input" type="password" name="password" placeholder="{{ 'password' | trans }}">
    </div>
    <br/>
    <button class="btn pull-right" type="submit">
        {{ 'login' | trans }}
    </button>
    <input type="hidden" name="bookmarklet"/>
</form>

