<div class="topbar" style="position:absolute; background-color:#e5e5e5;">
    <h3>
        BalloonGithubIssues
    </h3>
</div>
<div class="content" style="position:absolute; left:50px; top:50px; ">
    <form id="addIssue" action="{{ url('add') }}" method="POST" {{ form_enctype(form) }}>
        <div>
            {{ form_label(form.issue) }}
        </div>
        <div class="addform-item">
            {{ form_widget(form.issue) }}
        </div>
        <br/> 
        <div>
            {{ form_label(form.description) }}
        </div>
        <div class="addform-item">
            {{ form_widget(form.description) }}
        </div>
        <br/>
        {{ form_rest(form) }}
        <input type="submit" name="login" class="btn primary pull-right" value="{{ 'Submit issue' | trans }}">
            <a href="{{ path('logout', { 'bookmarklet' : 1}) }}">
                {{ 'Logout' | trans }}
            </a>
        <input type="hidden" name="bookmarklet" value="lol"/>
    </form>
</div>
