{% extends "layout_expanded.html.twig" %}

{% block header %}
    {{ parent() }}
    <a href="{{ path('add') }}" class="btn primary float-right">{{ 'add_new' | trans }}</a>
    <ul id="issues_tabs" class="tabs" style="display:none;">
        <li><a href="#" class="see_issues">{{ 'issues' | trans }} ({{ issues|length }})</a></li>
        <li><a href="#" class="see_milestones">{{ 'milestones' | trans }} ({{ milestones|length }})</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="issues">
        <table id="issuesList" class="bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'issue_name' | trans }}</th>
                    <th>{{ 'created_by' | trans }}</th>
                    <th>{{ 'milestone' | trans }}</th>
			<th> {{ 'labels_tab' | trans }} </th>

                    {% if app['user']['username'] is defined and app['config']['pending_repo'] != false and app['repo']['repo'] == app['config']['pending_repo']['repo'] and app['repo']['user'] == app['config']['pending_repo']['user'] and app['user']['username'] in app['config']['pending_repo']['allowed_users'] %}
                        <th>{{ 'approve' | trans }}</th>
                    {% endif %}

                    <th>{{ 'assignee' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
                <tr>
                    <td data-controls-modal="modal_{{ issue.number }}" data-backdrop="static" style="cursor: pointer;">#{{ issue.number }}</td>
                    <td>
                        {{ issue.title }}
                    </td>
                    <td>{{ issue.user.login }}</td>

                    <td>{% if issue.milestone.title is defined %}{{ issue.milestone.title }}{% else %}~{% endif %}</td>
		<td>{% if issue.labels is empty %} ~ 
			{% else %}
				{% for label in issue.labels %}
			<div class="label_cube" title="{{label.name}}" style="height:20px;width:20px;border:1px ridge black;background-color:#{{label.color}};display:inline-block;border-radius:5px">  </div>
				{% endfor %}
		{% endif %}
		</td>

                    {% if app['user']['username'] is defined and app['config']['pending_repo'] != false and app['repo']['repo'] == app['config']['pending_repo']['repo'] and app['repo']['user'] == app['config']['pending_repo']['user'] and app['user']['username'] in app['config']['pending_repo']['allowed_users'] %}                        
                        <td>
                            <li class="dropdown unstyled inline" data-dropdown="dropdown">
                                <a href="#" class="btn small dropdown-toggle">{{ 'approve' | trans }}</a>
                                <ul class="dropdown-menu">
                                    {% for repo in app.config.repositories %}
                                        <li>
                                            <a href="{{ path('approve', {"user": repo['user'], "repo": repo['repo'], "id": issue.number })}}">
                                                {{ repo['user'] | capitalize }}/{{ repo['repo'] | capitalize }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                
                                <a href="{{ path('close', {"user": app.config.pending_repo.user, "repo": app.config.pending_repo.repo, "id": issue.number })}}" class="btn danger small">{{ 'close' | trans }}</a>
                            </li>
                        </td>
                    {% endif %}

                    <td>{% if issue.assignee != null %}{{ issue.assignee.login }}{% else %}~~{% endif %}</td>
                </tr>
                <div id="modal_{{ issue.number }}" class="modal hide fade">
                    <div class="modal-header">
                      <a href="#" class="close">×</a>
                      <h3>{{ issue.title }}</h3>
                    </div>
                    <div class="modal-body">
			 <h6> {{'who_found' | trans }}{{ issue.user.login }} </h6>
                      <p>{{ issue.body }}</p>
                    </div>
                    <div class="modal-footer">
                      <small>{{ 'press_esc' | trans }}</small>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="6">
                        <h2>{{ 'no_issues' | trans }}</h2>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="milestones">
        <h2>{{ 'milestones' | trans }}</h2>
        {% for milestone in milestones %}
        {% set milestone_percent = milestone.closed_issues / (milestone.closed_issues + milestone.open_issues) * 100 // 1 %}
            <div class="milestone">
                <div class="progress">
                    <span class="progress-bar">
                        <span class="progress" style="width: {{ milestone_percent }}%">&nbsp;</span>
                        <span class="percent">{{ milestone_percent }}%</span>
                    </span>
                </div>
                <h3>{{ milestone.title }}</h3>
                <p class="date">{{ 'open' | trans }}: {{ milestone.open_issues }} {{ 'closed' | trans }}: {{ milestone.closed_issues }}</p>
            </div>
        {% else %}
            <h3>{{ 'no_milestone' | trans }}</h3>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.js"></script>
    <script>
        $(document).ready(function(){
            $("table#issuesList").tablesorter();
            $('.dropdown-toggle').dropdown();
            $('.modal').modal({
                keyboard: true,
                backdrop: true,
            });
        });
    </script>
{% endblock %}
