<html>
<head>
    <link rel="icon" type="image/png" href="{{ app.request.baseUrl }}/favicon.ico" />
    <link href="{{ app.request.baseUrl | replace({'/index.php': ''}) }}/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="{{ app.request.baseUrl | replace({'/index.php': ''}) }}/css/style.css" rel="stylesheet" media="screen" />
    <title>{% filter title %}Balloon GitHub Issues{% endfilter %} </title>
</head>

<body class="{{ app.request.attributes.get('_route') }}">
    {% block topbar %}
        {% include "topbar.html.twig" %}
    {% endblock %}
    <div class="container">
          <div class="content">
            <div class="page-header">
                {% block header %}
                    <ul id="change-repo" class="unstyled inline">
                        <li class="dropdown" data-dropdown="dropdown">
                            <a href="#" class="btn small dropdown-toggle">{{ 'issues_for' | trans }}: {{ app.repo['user'] | capitalize }}/{{ app.repo['repo'] | capitalize }}</a>
                            <ul class="dropdown-menu">
                                {% for repo in app.config.repositories %}
                                    <li>
                                        <a href="{{ path('change', {"user": repo['user'], "repo": repo['repo']}) }}">
                                            {{ repo['user'] | capitalize }}/{{ repo['repo'] | capitalize }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endblock %}
            </div>
            <div class="row">
              <div class="span16">
                  {% include "flash_messages.html.twig" %}
                  {% block content %}{% endblock %}
              </div>
            </div>
          </div>
          <footer>
              {% block footer %}{% endblock %}
          </footer>
        </div>
    {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="{{ app.request.baseUrl | replace({'/index.php': ''}) }}/js/ux.js"></script>
        <script src="{{ app.request.baseUrl | replace({'/index.php': ''}) }}/bootstrap/js/bootstrap-modal.js"></script>
        <script src="{{ app.request.baseUrl | replace({'/index.php': ''}) }}/bootstrap/js/bootstrap-dropdown.js"></script>
    {% endblock %}
</body>
</html>